.Palette{
    height: 100vh;
}
.Palette-colors{
    height: 90vh;
}
.slider{
    width : 340px;
    margin : 0 10px;
    display: inline-block;
}
.rc-slider  .rc-slider-track{
    background-color: transparent;
}
.rc-slider .rc-slider-rail{
    height: 8px;
}
.rc-slider .rc-slider-handle{
    background-color: green;
    outline: none;
    border: 2px solid green ;
}
.rc-slider 
.rc-slider-handle,
.tc-slider .rc-slider-handle:hover,
.rc-slider .rc-slider-handle:active{
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
}